<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="smarsh" value="http://internal-aa765fac9293f11e780d506c90673cce-291209830.us-west-2.elb.amazonaws.com/" />
  </packageSources>
  <apikeys>
    <add key="http://internal-aa765fac9293f11e780d506c90673cce-291209830.us-west-2.elb.amazonaws.com/" value="DqqUkQH833g+5lGZmJzQERR7YfS/rzDVsxGucT8gz9GQ81iBOe9v+42Yo02pK2Yox9b6XIt+/ZTFnh1StF0IXjxPNboW1oBpEAC87hH7Nu2giNoMEbud3g7RQYeRwW8SFFV/2E7dvCgGOrqPMVN+H3A7Mfui5nhowFng64GOs7g8RcqsttrbegAB4HhWZjUgc1pF3oxypfHdMLOB56UsU5tsjTl5kipZSubmV099U8QNE1xMRjDHMDz2ez4tWmuS24nnT42RtgYIlZVTyyDp11ETHBp3EZ2PQgzcWW16LrqULBdr1nbw+cwmOh+yhShD" />
  </apikeys>
</configuration>
